# .env
APP_PORT=8793
APP_HOST=0.0.0.0
APP_ENV=development
APP_SECRET=5BnnbJ_0U-doy5dzOn-BS
CORS_ORIGIN=http://localhost:5210,http://localhost:5211

DB_MONGO_CONNECTION=mongodb://127.0.0.1:27017/cine-stream
MONGODB_URI=mongodb://127.0.0.1:27017/cine-stream
DB_MONGO_USERNAME=
DB_MONGO_PASSWORD=

MIGRATE_ON_START=true

JWT_SECRET=FlrN0hoWsYGYQ7WpEp29S

LOG_LEVEL=info
DEBUG=true

SESSION_SECRET=wzoqPVI8POT_-XXrwQuBa

SMTP_HOST=smtp.qq.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=
SMTP_PASS=
REDIS_URL=redis://127.0.0.1:6379

VIDEO_LIBRARY_ROOT=./media
MEDIA_HLS_ROOT=./storage/hls
FFMPEG_PATH=
FFPROBE_PATH=
MEDIA_THUMBNAIL_TEMP_DIR=./storage/media-thumbnails

ALI_OSS_SERVER_BASE_URL=http://localhost:9512
ALI_OSS_CLIENT_ID=
ALI_OSS_CLIENT_SECRET=
ALI_OSS_TOKEN_REFRESH_INTERVAL_MS=3300000
ALI_OSS_UPLOAD_OBJECT_PREFIX=images
ALI_OSS_IMAGE_MAX_SIZE_MB=10
